* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-family;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 723px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.home {
  position: absolute;
  top: 50px;
  font-size: $regular-font-size;
  color: $gray;
}
