// Fonts
$font-family: "Raleway", sans-serif;
$normal-font-weight: 500;
$bold-font-weight: 700;

// Font sizes
$small-font-size: 1.4rem;
$regular-font-size: 1.8rem;
$medium-font-size: 2.4rem;
$large-font-size: 3.6rem;

// Colors
$black: #000;
$gray: #333;
$dark-gray: #4f4f4f;
$light-gray: #828282;
$lighter-gray: #a9a9a9;
$yellow: #f7df94;
$white: #f2f2f2;

// Border
$border-width: 8px;
